.new-subcat {
    &__content {
        margin-left: 20px;
    }
    &__item {
        &:hover {
            background-color: #fff !important;
            color: black !important;
        }
        &.active {
            background-color: #fff !important;
            color: black !important;
        }
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: calc(50% - 4px);
            left: 17px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #c4c4c4;
            transition: 0.3s;
        }
    }
}

.home__slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    transform: skewx(20deg);
}
.home__slider__control {
    right: 55px;
}
.home__slider {
    height: 347px;
    .skew20 {
        transform: none;
        background-color: transparent;
        position: relative;
        z-index: 1;
        max-width: 420px;
        width: 100%;
        * {
            transform: none;
        }
    }
    .h3 {
        font-size: 26px;
        margin-bottom: 2px !important;
    }
    .it {
        text-transform: none;
        font-size: 20px;
    }
    .home__slider__content {
        transform: none;
    }
    .btn {
        margin-top: 13px;
        font-size: 16px;
        background-color: #e31e25;
        width: 237px;
    }
    &__content {
        margin-top: auto;
        margin-bottom: 70px;
        padding-left: 40px;
    }
}

.sidebar-container.fixed {
    position: fixed;
    bottom: 0;
}
.sidebar-container {
    padding-bottom: 0;  
    padding-bottom: 85px !important;
    max-width: 315px;
}
.sidebar-container.fixed-bottom {
    position: absolute;
}
@media screen and (max-width: 768px) {
 .sticky-wrapper {
     position: absolute !important;
 }   
}


@media screen and (max-width: 1640px) {
    .sidebar-container {
        width: 260px !important;
    }
}

.home__pagination {
    bottom: 27px !important;
    padding-left: 40px;
}

.left_menu__cat:first-child .new-subcat__item:hover {
    &:before {
        background-color: #b43135;
    }
}
.left_menu__cat:first-child .new-subcat__item.active {
    &:before {
        background-color: #b43135;
    }
}
.left_menu__cat:nth-child(2) .new-subcat__item:hover {
    &:before {
        background-color: #ddc128;
    }
}
.left_menu__cat:nth-child(2) .new-subcat__item.active {
    &:before {
        background-color: #ddc128;
    }
}
.left_menu__cat:nth-child(3) .new-subcat__item:hover {
    &:before {
        background-color: #e47c4f;
    }
}
.left_menu__cat:nth-child(3) .new-subcat__item.active {
    &:before {
        background-color: #e47c4f;
    }
}
.left_menu__cat:nth-child(4) .new-subcat__item:hover {
    &:before {
        background-color: #6b9cec;
    }
}
.left_menu__cat:nth-child(4) .new-subcat__item.active {
    &:before {
        background-color: #6b9cec;
    }
}
.left_menu__cat:nth-child(5) .new-subcat__item:hover {
    &:before {
        background-color: #b43135;
    }
}
.left_menu__cat:nth-child(5) .new-subcat__item.active {
    &:before {
        background-color: #b43135;
    }
}
.left_menu__cat:nth-child(6) .new-subcat__item:hover {
    &:before {
        background-color: #cdbe6d;
    }
}
.left_menu__cat:nth-child(6) .new-subcat__item.active {
    &:before {
        background-color: #cdbe6d;
    }
}
.left_menu__cat:nth-child(7) .new-subcat__item:hover {
    &:before {
        background-color: #7e61d3;
    }
}
.left_menu__cat:nth-child(7) .new-subcat__item.active {
    &:before {
        background-color: #7e61d3;
    }
}
.left_menu__cat:nth-child(8) .new-subcat__item:hover {
    &:before {
        background-color: #33beb6;
    }
}
.left_menu__cat:nth-child(8) .new-subcat__item.active {
    &:before {
        background-color: #33beb6;
    }
}
.left_menu__cat:nth-child(9) .new-subcat__item:hover {
    &:before {
        background-color: #9fbeee;
    }
}
.left_menu__cat:nth-child(9) .new-subcat__item.active {
    &:before {
        background-color: #9fbeee;
    }
}
.left_menu__cat:nth-child(10) .new-subcat__item:hover {
    &:before {
        background-color: #a88282;
    }
}
.left_menu__cat:nth-child(10) .new-subcat__item.active {
    &:before {
        background-color: #a88282;
    }
}

.new-bg-cont {
    background-position: center center;
    background-size: cover;
    img {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .aside--left {
        width: 260px;
        margin-right: 15px;
    }
}
.top-button {
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  transition: 0.3s;
  transform: translateY(150px);
font-size: 16px;
z-index: 111111;
}

.invite_project {
  margin-bottom: 30px; }

body {
  scroll-behavior: smooth; }

.top-button.active {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px); }

.top-button svg {
  fill: white;
  margin-right: 10px;
  margin-left: 0;
}


.gridbanner {
    position: relative;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.3s;
    }
    &:hover {
        .gridbanner__bg {
            transform: scale(1.15);
        }
    }
    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
    }
    &__content {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        align-items: flex-start;
        position: relative;
        z-index: 2;
        padding: 27px;
        box-sizing: border-box;
    }
    &__title {
        color: #816e07;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 800;
    }
    &__desc {
        font-family: 'Droid Serif';
        font-size: 20px;
        margin-top: 7px;
        margin-bottom: 7px;
        font-style: italic;
        font-weight: bold;
    }
    &__price {
        font-size: 30px;
        font-weight: 500;
    }
}

.newcart {
    display: flex;
    margin-top: 35px;
    &__button {
        width: 185px;
        margin-right: 15px;
        border-radius: 4px;
        border: 1px solid #ff0000;
        display: flex;
        padding: 0 10px;
        justify-content: center;
        align-items: center;
        height: 45px;
        img {
            margin-right: 10px;
            transition: 0.3s;
        }
        color: #535353;
        font-size: 16px;
        text-transform: uppercase;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            img {
                transform: translate(-7px);
            }
        }
    }
    &__next {
        img {
            transform: rotate(180deg);
            margin-left: 10px;
            margin-right: 0;
            
        }
        &:hover {
            img {
                transform: rotate(180deg) translate(-7px);
            }
        }
    }
}
.aside--left {
    height: auto;
    position: relative;
}
.aside--left {
    margin-top: -30px;
}
.main {
    margin-top: 0;
}
.sidebar-container {
    margin-top: 60px;
    padding-bottom: 30px;
}
.content {
    margin-top: 30px;
}

@media screen and (max-width: 998px) {
    .aside--left {
        position: fixed;
        height: 100vh;
        overflow-y: auto;
        margin: 0;
        padding: 10px;
    }
    .sidebar-container {
        margin-top: 0;
    }
    .aside--left.visible {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        
    }    
}

@media screen and (max-width: 1200px) {
    .new-subcat__item:before {
        left: 4px;
    }
    
}
